/* Basic Style */

.page {
  font-family: Lato, sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

.input {
  display: none;
  width: 204px;
  height: 19px;
  margin: 0;
  padding: 0 9px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #888;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
}

.input:focus {
  color: #333;
}

.button {
  width: 60px;
  font-family: Lato, sans-serif;
  font-size: 15px;
  color: #888;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

.checkbox {
  margin-top: 2px;
  margin-right: 10px;
}

/* Heading */

.header {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.header__img {
  width: 100%;
}

.header__title {
  width: 100%;
  margin: 0;
  font-family: fantasy, cursive;
  font-size: 16px;
  font-weight: lighter;
  text-align: right;
}

/* New Task */

.main {
  display: block;
  width: 500px;
  margin: 18px auto 0;
}

.section {
  width: 400px;
  margin: 0 auto;
}

.section__title {
  margin: 0;
  padding: 30px 0 10px;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
}

.new-task {
  display: flex;
  margin: 20px 0 17px;
}

.new-task__input {
  display: inline-block;
  width: 298px;
}

/* Task list */

.tasks {
  margin: 0;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  padding: 18.5px 6px 22px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.task__label {
  padding-left: 9px;
  box-sizing: border-box;
  font-size: 18px;
  width: 224px;
}

.task__delete-btn {
  height: 32px;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__delete-btn:hover {
  transform: rotateZ(0);
}

.button-svg {
  width: 30px;
}

/* Completed */

.completed-tasks .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.task_edit-mode .input {
  display: inline-block;
}

.task_edit-mode .task__label {
  display: none;
}

@media (max-width: 768px) {

  .header__title {
    text-align: center;
    
  }
}
